#banska-bystrica {
    background-color: #f8f38d;
    position: relative;
}

.Button {
    width: 3.4em;
    height: 1.4em;
    font-size: 1.8em;
    position: absolute;
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    color: #000000;
    background-color: #ffffff4f;
    border: 1px solid #000000;
    text-decoration: none;
    float: right;
    margin-left: 1%;
    border-radius: 100em;
    transition: 200ms ease;
    user-select: none;
}

.Button:hover {
    scale: 1.1;
}

h1 {
    color: #000000;
    text-align: center;
    width: 8em;
    height: 1.4em;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: #ffffff4f;
    border: 1px solid #000000;
    border-radius: 100em;
    margin-left: auto;
    margin-right: auto;
}