body {
    background-color: #42d6a4;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2% 0.5rem;
}

.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(2rem, 5vw, 3rem);
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    padding: clamp(0.4rem, 1vw, 0.6rem);
    color: #000000;
    background-color: #ffffff4f;
    border: 1px solid #000000;
    text-decoration: none;
    border-radius: 50%;
    transition: 200ms ease;
    user-select: none;
}

.icon-btn:hover {
    scale: 1.1;
    background-color: #ffffff8f;
}

.icon-btn svg {
    width: 100%;
    height: 100%;
}

h1 {
    color: #000000;
    text-align: center;
    padding: 0.2rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.8rem, 5vw, 2rem);
    display: inline-block;
    box-sizing: border-box;
    background-color: #ffffff4f;
    border: 1px solid #000000;
    border-radius: 100rem;
    margin: 0 0.5rem;
}

.emblem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(1.5rem, 5vw, 3rem);
    width: max-content;
    margin: 1rem auto;
    padding: clamp(0.8rem, 3vw, 1rem);
    border: 1px solid #000000;
    border-radius: 1rem;
    background-color: #ffffff4f;
}

figure {
    margin: 0;
    text-align: center;
}

#flag, #coat-of-arms {
    height: clamp(5rem, 18vw, 9rem);
    width: auto;
    user-select: none;
}

figcaption {
    color: #000000;
    font-size: clamp(0.8rem, 3vw, 1.25rem);
    margin-top: 0.1rem;
    /* border: 1px solid #000000; */
}

table {
    font-size: clamp(0.8rem, 3vw, 1.25rem);
    border-collapse: separate;
    border-spacing: 0;
    background-color: #ffffff4f;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid #000000;
    margin: 0.4rem auto 0.3rem;
}

th {
    font-weight: normal;
}

th, td {
    color: #000000;
    border: 0.5px solid #000000;
    text-align: center;
    padding: clamp(0.2rem, 2vw, 0.6rem);
}

table td:first-child,
table th:first-child {
    border-left: none;
}

table td:last-child,
table th:last-child {
    border-right: none;
}

table tr:first-child td,
table tr:first-child th {
    border-top: none;
}

table tr:last-child td,
table tr:last-child th {
    border-bottom: none;
}

footer {
    display: flex;
    justify-content: center;
}

#source {
    padding: 0.2rem 0.5rem;
    font-size: clamp(0.4rem, 2.5vw, 0.8rem);
    border: 1px solid #000000;
    color: #000000;
    background-color: #ffffff4f;
    border-radius: 100rem;
    text-align: center;
}

.source {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    color: #000000;
}

.source:hover {
    color: #444;
}

::selection {
    background: #2a7f64;
    color: #ffffff;
}

::-moz-selection {
    background: #2a7f64;
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #42d6a4;
    border-radius: 10px;
    /* border: 1px solid #000000; */
}

::-webkit-scrollbar-thumb {
    background: #ffffff4f;
    border-radius: 10px;
    border: 1px solid #000000;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff8f;
}