#homepage {
    background-color: #222;
}

.Header {
    display: flex;
    align-items: center;
}

#Slovakia {
    color: #fff;
    text-align: center;
    padding: 0.2em 0.5em;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    user-select: none;
    display: inline-block;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: #ffffff4f;
    border: 1px solid #ffffff;
    border-radius: 100em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 0.7em;
    transition: 200ms ease;
}

#Slovakia:hover {
    scale: 1.1;
    background-color: #ffffff8f;
}

.Slovak-Regions {
    width: 80vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#Slovak-Map {
    width: 80vw;
    display: block;
    user-select: none;
}

.Regions {
    position: absolute;
    text-align: center;
    text-decoration: none;
    color:#000000;
    float: left;
    user-select: none;
}

.Regions:hover {
    color: gray;
}

#Bratislava {
    font-size: calc(0.02 * 80vw);
    top: 64%;
    left: 1.9%;
}

#Trnava {
    font-size: calc(0.02 * 80vw);
    bottom: 16%;
    left: 9.7%;
}

#Nitra {
    font-size: calc(0.02 * 80vw);
    bottom: 22%;
    left: 23.4%;
}

#Trencin {
    font-size: calc(0.02 * 80vw);
    top: 38%;
    left: 20%;
}

#Banska-Bystrica {
    font-size: calc(0.02 * 80vw);
    bottom: 40%;
    left: 39.6%;
}

#Zilina {
    font-size: calc(0.02 * 80vw);
    top: 22%;
    left: 39.2%;
}

#Presov {
    font-size: calc(0.02 * 80vw);
    top: 24%;
    right: 20%;
}

#Kosice {
    font-size: calc(0.02 * 80vw);
    top: 47%;
    right: 19%;
}

::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
    /* border: 1px solid #ffffff; */
}
  
::-webkit-scrollbar-thumb {
    background: #ffffff4f;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #ffffff8f;
}
  
@media (max-width: 480px) {
    #Slovakia {
        font-size: 1.6em;
    }
  
    ::-webkit-scrollbar {
      display: none;
    }
}

@media (max-width: 340px) {
    #Slovakia {
        font-size: 1.4em;
    }
}