#homepage {
    background-color: #222;
}

.Menu {
    display: flex;
    align-items: center;
}

h1 {
    color: #fff;
    text-align: center;
    padding: 0.2em 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: #ffffff4f;
    border: 1px solid #ffffff;
    border-radius: 100em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.Slovak-Regions {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.Slovak-Regions #Slovak-Map {
    width: 100%;
    display: block;
}

.Regions {
    position: absolute;
    text-align: center;
    text-decoration: none;
    color:#000000;
    float: left;
    /* border: 0.1px solid #000; */
}

.Regions:hover {
    color: gray;
}

#Bratislava {
    font-size: 1.6vw;
    top: 64%;
    left: 1.8%;
}

#Trnava {
    font-size: 1.6vw;
    bottom: 16%;
    left: 9.7%;
}

#Nitra {
    font-size: 1.6vw;
    bottom: 22%;
    left: 23.4%;
}

#Trencin {
    font-size: 1.6vw;
    top: 38%;
    left: 20%;
}

#Banska-Bystrica {
    font-size: 1.6vw;
    bottom: 40%;
    left: 40%;
}

#Zilina {
    font-size: 1.6vw;
    top: 22%;
    left: 39.2%;
}

#Presov {
    font-size: 1.6vw;
    top: 24%;
    right: 20%;
}

#Kosice {
    font-size: 1.6vw;
    top: 47%;
    right: 19%;
}