#trencin {
    background-color: #c780e8;
}

.Menu {
    display: flex;
    align-items: center;
    padding: 1em;
}

.Button {
    padding: 0.2em 0.5em;
    font-size: 1.8em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: #000000;
    background-color: #ffffff4f;
    border: 1px solid #000000;
    text-decoration: none;
    border-radius: 100em;
    transition: 200ms ease;
    user-select: none;
    margin-left: 0.5%;
    margin-right: 2%;
}

.Button:hover {
    scale: 1.1;
    background-color: #ffffff8f;
}

h1 {
    color: #000000;
    text-align: center;
    padding: 0.2em 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    box-sizing: border-box;
    background-color: #ffffff4f;
    border: 1px solid #000000;
    border-radius: 100em;
    margin: 0 auto;
}

@media (max-width: 480px) {
  h1 {
      font-size: 1.6em;
  }

  .Button {
    display: none;
  }

  table {
    font-size: 1.3em;
    margin: 0.5em auto;
  } 

  td {
    padding: 0.3em 0.5em;
  }
}